@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  color: white;
}

@layer base{
  body{
    @apply bg-primary-900
  }
}

@layer components {
  .btn-primary{
    @apply rounded-full text-white bg-primary-900 font-semibold px-6 py-3 ring-offset-2 hover:ring-2 hover:ring-blue-600
  }
}